table { border-collapse: collapse; font-family: Calibri, sans-serif; text-align: center;}
colgroup, tbody { border: solid medium; }
td { border: solid thin; height: 45px; width: 45px; text-align: center; padding: 0; }

td input[type="text"]{
height: 43px; 
width: 43px; 
text-align: 
center; padding: 0; 
border: none;
font-size: larger;
font-weight: 500px;
}