
table { border-collapse: collapse; font-family: Calibri, sans-serif; text-align: center;}
colgroup, tbody { border: solid medium; }
td { border: solid thin; height: 50px; width: 50px; text-align: center; padding: 0; }

td input[type="text"]{
        height: 50px; 
        width: 50px;
        text-align: 
        center; padding: 0; 
        border: none;
        font-size: x-large;
        font-weight: 500px;
        }
.trx{
        border-bottom: solid medium;
        }

.conternai{
    background-color: rgba(243, 242, 242, 0.37);
}

h2{
    align-items: center;
    text-align: center;
    text-emphasis-color: blue;
    text-rendering: auto;
    text-decoration-color: azure;
}
.center-div {
    display: flex; 
    justify-content: center; 
    height: 100vh;
    }

.button 
{
    font-size: 28px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background-color: #8edb86;
    border-radius: 10px;
    width: 450px;
    height: 60px;
}

.button:hover {background-color: #569332}

.button:active {
    background-color: #5db757;
    transform: translateY(5px);
}