{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>SUDOKU SOLVER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}">
    <!-- And for sudoku-grid -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(static/bootstrap/images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(static/bootstrap/images/logo.jpg)"></div>
	  				<h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black;font-weight: bold;background-color: white;">SUDOKU SOLVER</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="home"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
              <a href="introduction"><span class="fa fa-users mr-3 notif"></span> Introduction</a>
          </li>
          <li>
            <a href="imageuploadrule"><span class="fa fa-picture-o mr-3"></span> Image Upload Rule</a>
          </li>
          <li>
            <a href="systemarchitect"><span class="fa fa-industry mr-3"></span> System Architect</a>
          </li>
          <li>
            <a href="resultandimprovement"><span class="fa fa-trophy mr-3"></span> Result and Improvement</a>
          </li>
          <!-- <li>
            <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li> -->
        </ul>
    	</nav>
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        {% block content %}
        {% endblock %}
		  </div>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/style.css' %}">
    <!-- <script src="bootstrap/js/jquery.min.js"></script> -->
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/main.js' %}"></script>
  </body>
</html>