{%extends 'sudoku_app/index.html' %}

{% block content %}
<h1>Introduction</h1>
<p>Sudoku 9x9 is a popular puzzle in which the simple rule is that every column must contain the numbers 1 to 9 once, every row must contain the numbers 1 to 9 once, and every 3x3 box must contain the numbers 1 to 9 once.</p>
<p>This project focuses on solving Sudoku puzzles of varying difficulty levels. The user can input puzzles through both Manual Entry and Image Upload, and the solution will be displayed on the screen.</p>
<h5>Manual Entry</h5>
<p>On the screen, numbers 1 to 9 can be manually inputted. "New Input" button can be used to clear the screen. Once inputting is finished, "Solve" button can be pressed and the solution will be displayed.</p>
<h5>Image Upload</h5>
<ul>
    <li>After a sudoku image is uploaded, the input will be loaded automatically.</li>
    <li>For an optimal image upload, ensure to abide by the following guidelines:</li>
    <ul>
        <li>The outer border of the Sudoku must be clear and recognizable.</li>
        <li>The image should be centralized and not slanted for better recognition results.</li>
        <li>The image size larger than 400 x 400 pixels is recommended.</li>
        <li>The image format should be JPEG or PNG.</li>
        <li>Examples of successful uploads can be found in the <a href="imageuploadrule">Image Upload Rule page</a>.</li>
    </ul>
    <li>After uploading the image, recognized result must be confirmed and any necessary modifications made.</li>
    <li>"Solve" button can be pressed and the solution will be displayed.</li>
</ul>
<p>This project is hosted on Amazon Web Services (AWS) and utilizes services such as Route53, Elastic Load Balancer, Elastic Compute Cloud, and Textract. More information about the specific functions of these services can be found in the <a href="systemarchitect">System Architecture page</a>.</p>
{% endblock %}